{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-content"> 
      <img src="img/members/{{ members.imagebw }}" alt= "band member" class="img-fluid band-member">
    </div>
    <div class="col-sm-8">
      <h2>{{ members.name }}</h2>
      <ul class="members-info">
        <li class="members-info">Instruments: {{ members.instruments }}</li>
        <li class="members-info">Tenure: {{ members.tenure }}</li>
        <li class="members-info">Birthplace: {{ members.birthplace }}</li>
        <li class="members-info">Birthdate {{ members.birthdate }}</li>
      </ul>
      <p class="members-text">{{ members.text | safe}}</p>
    </div>
  </div>
</article>
{% endblock %}
