{% extends '_layouts/base.njk' %}

{% block page_title %}Music{% endblock %}

{% block content %}

<div>
  <div class="container">
  <h2>Music</h2>
 <div class="row">
 {% for disc in data.discography %}
  <div class="col-sm-6 col-lg-3 ">
    <img class="img-fluid" src="img/discs/{{ disc.image }}" alt="Album cover">
      <p class="album-title album-year text-center">{{ disc.title }} – {{ disc.year }}</p>
    </div>
{% endfor %}
  </div>
</div>


{% endblock %}